/* HEADER */

.school-logo {
  height: 150px;
  width: 150px;
}

.school-logo img {
  object-fit: contain;
}
.list-channels {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.list-channels:hover {
  scrollbar-color: #7a7a7b transparent;
}

/* CREATE CHANNEL MODAL */

.dot {
  background-color: #4ade80;
  transition: background-color, 0.2s;
}

.toggle-checkbox:checked ~ .dot {
  transform: translateX(100%);
  background-color: #6ba6ff;
  transition: background-color, 0.2s;
}
