.channelLoading{
    background-image: linear-gradient(135deg, #2B2B2B 0%, #424242 100%);
    animation: loading ease-in-out 1s infinite ;
    background-size: 300% 300%;
    min-height: 56px;
  }
  @keyframes loading {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}