  .user-nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    top: 50px;
    left: -17.5px;
    border-radius: 50%;
    background-color: #2F2F2F;
    box-shadow: -7px 0px 8px rgb(26 26 26 / 90%);
  }
  
  .user-nav-img{
    width:30px;
    height: 30px;
  }
  .bg-onload{
    background-image: linear-gradient(135deg, #2B2B2B 0%, #424242 100%);
    animation: loading ease-in-out 1s infinite ;
    background-size: 300% 300%;
    width: 30px;
    height: 30px;
  }
  @keyframes loading {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}